.container {
    width: 1280px;
    margin: 0 auto;
    
}

.logo {
    text-decoration: none;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 80px;
    line-height: 1.8;
    color: black;
}

.logo>span {
    color: #4bcaff;
}

.ver-menu ul {
    background-color: #35444f;
    width: 100%;
    height: 69px;
    line-height: 2.5;
    height: 69px;
    text-align: center;
}
.ver-menu li {
    display: inline-block;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
   /* height: 69px;
    line-height: 0;  */
}

.ver-menu a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.ver-menu li:hover {
    background-color: #222f3a;
    border-color: white; 
    border-style: solid; 
    border-width: 0px 1px;
    padding-left: 14px;
    padding-right: 14px;
    
}

.ver-menu span {
    color: white;
    text-transform: none;
    text-decoration: none;
}

.left-menu {
    border: solid;
    border-width: thin;  
    display: inline-block;
    width: 344px;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 29pt;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    width: 344px;
    vertical-align: top;
       
    
}

.left-menu a {
    text-decoration: none;
    display: block; 
    color: rgba(72, 88, 99, 255);
   
}
.left-menu a:hover {
    text-decoration: none;
    color: black;
    padding-left: 70px;
}

.left-menu li {
    padding-top: 22px;
    padding-bottom: 22px;
    display: inline-block;
    position: relative;
    width: 344px;
    color: rgba(72, 88, 99, 255);
    font-size: 30px;
    padding-left: 43px;
    
}

.left-menu li:hover {
    background-color: #dbdbdb;
    display: inline-block;
    color: black;
 }

 .main-block {  
    margin-top: 40px;
 
}

 .img-and-content {
    
    margin-left: 41px;
    display: inline-block;
    vertical-align: top;

     
}
 
.main-img {
    padding: 75px 268px 73px 297px;
    border: solid;
    border-width: thin;  
    overflow: hidden;
    width: 320px;
    /*height: 281px;*/  
}
 
.main-img img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    }
    
   .main-img img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    }

.text {
    width: 820px;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 18px;
    padding-top: 44px;
    padding-left: 25px;
    line-height: 1.5;
    color: rgba(44, 44, 44, 255);
}

.footer {
    width: 100%;
    height: 69px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.footer-links {
    display: inline-block;
    padding-left: 20px;
    
}

.footer-links li {
    display: inline-block;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 28px;
    color: rgba(12, 25, 39, 255);
    text-transform: capitalize;
    margin: 10px;
    line-height: 1.7;
         
}

.footer-links a {
    color: rgba(12, 25, 39, 255);
    display: inline-block;
    text-decoration: none;   
}

.footer-links a:hover {
    padding-bottom: 2px;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    color: #3181a6; 
}

.copyright {
    display: inline;
    }

.copyright-text {
    margin-left: 127px;
    text-align: right;
    color: rgba(12, 25, 39, 255);
    display: inline;
    font-family: Roboto, Courier, MyriadPro-Regular;
    font-size: 28px;
}    

a { 
    cursor: pointer;
}

p {
    margin-top: 28px;
    margin-bottom: 50px;
}