body {
    background-image: url(../img/bg.png);
    background-size: cover; 

}

header {
    background-color:  rgba(0, 0, 0, 0.41);
    height: 60px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 1030px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    font-family: Verdana, Sans-Serif;
}

.logo:hover {
    color: #3cb878;
}

.icons {
    float: right;
}

.icons-link {
    display: inline-block;
    margin-right: 30px;
}

.calc {
    background-image: url('../img/icons-sprite.png');
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.calc:hover {
    background-position: -34px -5px;
    
}

.chat {
    background-image: url('../img/icons-sprite.png');
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}

.chat:hover {
    background-position: -101px -5px;
}

.compass {
    background-image: url('../img/icons-sprite.png');
    width: 20px;
    height: 20px;
    background-position: -139px -5px;

}

.compass:hover {
    background-position: -169px -5px;
}

.login-section {
    padding-left: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 14 px;
    float: right;
    font-family: Verdana, Sans-Serif;
}

.login-section-link {
    color: white;
    line-height: 21px;
    color: #3cb878;
    text-decoration: none;
    text-transform: capitalize;
}

.login-section-link:hover {
    border-bottom: 1px solid #3cb878;
}

main {
    display: flex;
    align-items: center;
    height: calc(100% - 60px);
}








.sign-form {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 29px;
    box-sizing: border-box;
    position: relative;
    width: 444px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);
    
}

.form-header-green-squre {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 34px;
    background-color: #3cb878;

}


.form-sign-up {
    float: left;
    color: #434343;
    font-size: 20px;
    font-family: "Verdana";
}

.form-log-in {
    float: right;
    position: relative; 
    top: 4px; 
    font-family: "Verdana";
}

.login-heading-link {
    color: #3cb878;
    font-size: 14px;
    text-decoration: none;
}

.login-heading-link:hover {
    border-bottom: 1px solid #3cb878;
}

/* <div class="social-buttons clearfix">
<button class="social-login-buttons fb" type="button">
        Facebook
</button>
<button class="social-login-buttons gplus" type="button">
        Google
</button> */

.social-buttons {
    margin-top: 35px;   
}

.social-login-buttons {
    width: 157px;
    height: 46px;
    font-size: 16px;
    color:white;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    white-space: nowrap;
    border-radius: 3px;
    position: relative;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.social-login-buttons:focus {
    outline: none;
}

.social-login-buttons::before {
    box-sizing: border-box;
    width: 48px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;

}

.fb {
    float: left;
    transition: 0.5s;
    background-color: #305db8;
    padding-left: 55px;
    transition: 0.4s;  
}

.fb:hover {
    background-color: #264b96;
}
.fb::before {
   
    content: "\f39e";
    font-size: 20px;
    border-right: rgba(0, 0, 0, 0.15) 1px solid;
    font-family: "Font Awesome 5 Brands"; 
    box-sizing: border-box;
    padding-left: 3px;
    line-height: 30px;
    margin: 8px 0;
}

.gplus {
    transition: 0.5s;
    background-color: #df4a32;
    padding-left: 53px;
    float: right;
    transition: 0.4s;
}

.gplus::before {
    font-size: 20px;
    line-height: 30px;
    font-family: "Font Awesome 5 Brands"; 
    content: "\f0d5";
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    box-sizing: border-box;
    padding-left: 3px;
    margin: 8px 0;
}

.gplus:hover {
    background-color: #c3412c;
}

.fb.gplus:not(:hover) {
    transition: 0.3s;        
}

.gplus:not(:hover) {
    transition: 0.3s;    
}
/* 
<div class="line-or-section clearfix">
<p class="line-or">or</p>
</div> */

.line-or-section {
    margin-top: 35px;
}

.line-or {
    color: #848484;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
    
}

.line-or::before {
    float: left;
    content: "";
    position: relative;
    top: 8px;
    display: block;
    width: 135px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);

    
}

.line-or::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 8px;
    float: right;
    display: block;
    width: 135px;
    height: 1px;

}


.inputs {
    margin-top: 19px;    
}

.form-text-input {

    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 100%;
    margin-top: 9px;
    font-size: 14px;
    border-radius: 3px;
    padding: 18px;
    display: block;
}

.form-text-input:focus {
    border-color: white;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    outline: none;
}

.form-text-input::placeholder {
    color: #bebebe;
}

.agreement {
    margin-top: 22px;
}

.user-agreement-text {
    color:  #434343;
    line-height: 21px;
    display: inline-block;
    position: relative;
    top: 2px;
    padding-left: 6px;
}

.checkbox-agreement {
    transform: scale(1.5);
}

.user-agreement-link {
    text-decoration: none;
    color: #3cb878;

}


.user-agreement-link:hover {
    border-bottom: 1px solid #3cb8;
}

.submit-button {
    margin-top: 27px;   
    margin-bottom: 20px;    
}

.submit {
    color: white;
    transition: 0.5s;
    font-size: 16px;
    background-color: #3cb878;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 17px 0;
    width: 100%;
    cursor: pointer;
}

.submit:hover {
    background-color: #2e9b65;
}

.submit:not(:hover) {
    transition: 0.4s;
}
