.container {
    width: 1366px;
    margin: 0 auto;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.logo {
    padding-top: 49px;
    padding-left: 155px;
    display: inline-block;
}


.logo-text {
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    display: inline-block;
   
}

p.main-logo {
    text-transform: uppercase;
    font-family: Verdana, Arial;
    padding-left: 60px;
    font-weight: bold;
    font-size: 29px;
    padding-top: 3px;
    line-height: 21px;
    
}

p.additional-logo  {
    text-transform: uppercase;
    font-family: Verdana, Arial;
    padding-left: 62px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 2px;
    line-height: 21px;
  
}

.logo-link, .contacts>a {
    display: inline-block;
    color: white;
}

a {
    cursor: pointer
}
 

.logo-text:hover {
    background-image: url(../image/logo-hover.png);
    background-repeat: no-repeat;
    height: 46px;
    width: 46px;
    color: #f26522;
    margin-right: 10px;
    padding-bottom: 1px;
}

.contacts {
    float: right;
    text-align: right;
    padding-top: 55px;
    padding-right: 122px;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: Verdana, Arial;
  
}

a.tel {
    display: block;
}

.contacts>a {
    text-decoration: none;
}

.tours-preview img {
    height: 100%;
    
}

section {
    padding-left: 155px;
    padding-top: 48px;
    
}


.tours-preview {
    float: left;
    margin: 0 70px 70px 0;
    padding: 1px;
}

.tours-text {
    color: white;
    font-size: 18px;
    font-family: Verdana, Arial;
    text-align: center;
    line-height: 68px;
    
    
}


.price-text {
    display: inline-block;    

}

.price {
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    padding-left: 25px; 
    display: inline-block;
    font-family: Verdana, Arial;
    width: 150px;
}

.view-details {
    font-size: 14px;    
    color: #ffffff;
    font-family: Verdana, Arial;
    display: inline-block;
    text-align: right;
}

span.view-details:after {
    content: ">";
    padding-left: 5px;
    color: white;
      }

.holder {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background: #f26522;
    margin: -80px;
    width: 314px;
    height: 80px;
    transition: 0.4s;
    
}

.preview-top-text {
    font-size: 10px;
    line-height: 21px;
    color: #ffffff;
    font-family: Verdana, Arial;
    text-align: left;
    padding-left: 25px;
    padding-top: 16px;
}

.tours-preview:hover .holder {
    margin:0px;
}




.wrap {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.gradient {
    height:100%;
    margin: 0 auto;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, transparent 0, white 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    
}


footer {
    clear: both;
    font-size: 12px;
    line-height: 21px;
    color: white;
    font-family: Verdana, Arial;
    text-align: center;
    padding: 19px;
}
