body {
    background-color: #3a4965;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 5 auto;
}

.prising {
    
    font-family: Arimo, Arial;
    border-collapse: collapse;
    text-transform: uppercase;
    
}

td {
    text-align: center;
    /* box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);  попытка задать тень в одну строку*/


    /* vertical-align: center;  попытка сделать 4 тени для каждой стороны*/
        /* box-shadow: 0 0 0 0,
        5px 1px 12px -9px #000000,
        0 0 0 0,
        0 0 0 0; */
        
        
        /* border: 3px solid transparent; попытка сделать тень через border
        border-image: 
          linear-gradient(
            to right, 
            black 0.3, red  50%);    */
}



tr {
    background-color: #fafafa;
    font-size: 16px;
    line-height: 67px;
    color: #484848;
    font-weight: 400;
}
   
tr:nth-child(2n) {
    background: #e3e3e3;
}


.pricing-plan {
    
    width: 311px;
    background-color: #f2f2f2;
  }


.plan-types {
    width: 278px;
  }

.choose-plan  {
    background-color: #fafafa;
    font-size: 30px;
    color: #484848;
    font-weight: 700;
    text-align: center;
    height: 100%;
    vertical-align:middle;
    height:150px;
    background: linear-gradient(
    270deg,
    rgba(200, 200, 200, 1),
    rgba(250, 250, 250, 1) 5px);
}

.choose-plan span {
    font-size: 18px;
}

tr.prices {
    background-color: #fafafa;
    line-height: 87px;

}

.sup {
    font-size: 24px;
    color: rgba(72, 72, 72, 255);
    float: left;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.price-dollars {
    float: left;
    margin-left: 17px;
    font-size: 60px;
    color: rgba(72, 72, 72, 255);
    font-weight: 700;
}  
  
  .price-per-month {
    color: rgba(72, 72, 72, 255);
    margin-top: 45px;
    line-height: normal;
    font-size: 18px;
  }

.standard {
    background-color: #89c331;
    font-size: 24px;
    line-height: 71px;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(
      270deg,
      rgba(100, 100, 100),
      rgba(137, 195, 49) 5px);
}

.ultimate {
    background-color: #f04a56;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(
        270deg,
        rgba(100, 100, 100, 1),
        rgba(240, 74, 86, 1) 5px);
}

.premium {
    background-color: #20807c;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
}

.contact-us-cell {
    background-color: #dddddd;
}

.btn-contact-us {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 49px;
}


.btn-contact-us a {
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    background: #484848;
    box-shadow: 0 5px 0 #404040;
    transition: .2s;
    display: inline-block;
    width: 191px;
    color: white;
}

.btn-contact-us a:hover {
    text-decoration: underline;
}

.btn-buy-standard {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 49px;
}

.btn-buy-standard a {
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    background: #89c331;
    box-shadow: 0 5px 0 #79b027;
    transition: .2s;
    display: inline-block;
    width: 191px;
    color: white;
}

.btn-buy-standard a:hover {
    text-decoration: underline;
}


.btn-buy-ultimate {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 49px;
}


.btn-buy-ultimate a {
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    background: #f04a56;
    box-shadow: 0 5px 0 #df3a46;
    transition: .2s;
    display: inline-block;
    width: 191px;
    color: white;
}

.btn-buy-ultimate a:hover {
    text-decoration: underline;
}

.btn-buy-premium {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 49px;
}

.btn-buy-premium a {
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    background: #20807c;
    box-shadow: 0 5px 0 #16736f;
    transition: .2s;
    display: inline-block;
    width: 191px;
    color: white;
}

.btn-buy-premium a:hover {
    text-decoration: underline;
}

thead tr:nth-child(2) th {
    background: linear-gradient(
      270deg,
      rgba(200, 200, 200),
      rgba(250, 250, 250) 5px);
  }

  tbody tr:nth-child(odd) td:not(:last-child) {
    background: linear-gradient(
      270deg,
      rgba(200, 200, 200, 1),
      rgba(242, 242, 242, 1) 5px);
  }
  
  tbody tr:nth-child(even) td:not(:last-child) {
    background: linear-gradient(
      270deg,
      rgba(200, 200, 200),
      rgba(227, 227, 227) 5px);
  }

  .contact-us-cell {
    background: linear-gradient(
      270deg,
      rgba(200, 200, 200, 1),
      rgba(221, 221, 221, 1) 5px);
  }

.prices>td  {
    background: linear-gradient(
        270deg,
        rgba(200, 200, 200),
        rgba(250, 250, 250) 5px);
}

  
  
.footer-standard, .footer-ultimate {
  background: linear-gradient(
    270deg,
    rgba(200, 200, 200, 1),
    rgba(238, 238, 238, 1) 5px);
}

.footer-premium {
    background: rgba(238, 238, 238, 1);
}