.nav {
    text-transform: uppercase;
    color: #16a085;
    font-family: Roboto-Black, "DejaVu Sans Mono", monospace;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    margin-top: 40px;
}

ul>li {
    display: inline;
    margin: 34px;
    text-align: center;
}

.imgdiv {
    width: 1280px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 790px;
    margin: 0 auto;
}

.content {
    font-family: Roboto-Black, "DejaVu Sans Mono", monospace;
    margin: 0 auto;
    text-align: center;
    color: rgba(55, 55, 55, 255);
    width: 1059px;
    background-color: #f5f6f7;
}

h1 {
    text-transform: uppercase;
}

.button {
    background-color: #16a085;
    color: white;
    text-transform: uppercase;
    width: 192px;
    margin: 0 auto;
    padding:20px;
    text-align: center;
    vertical-align: middle;
}

.backg-content {
    margin: 0 auto;
    background-color: #f5f6f7;
    width: 1280px;
    height: 1300px;
}

footer {
    margin: 0 auto;
    width: 1280px;
    font-size: 16pt;
    font-family: Roboto-Black, "DejaVu Sans Mono", monospace;
}

footer>p {
    padding: 10px 60px;
}